@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --primary-color: #2eb9ff;
    --secondary-color: #0e0a32df;
    --black-color: #191818;
    --white-color: #f5eeee;
    --gray-color: #858181b8;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Poetsen One", sans-serif;
    ;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {}

.container {
    width: 95%;
    margin: auto;
}

.wrapper {
    padding: 42px 0px;
}

.mb-4 {
    margin-bottom: 4px;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 12px;
    background-color: var(--white-color);
    align-items: center;
    font-family: var(--primary-font);
}

.navbar .logo {
    display: flex;
    font-size: 30px;
    font-weight: 300px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 24px;
    color: var(--primary-color);
    transition: all 0.5s;
}

.navbar .logo:hover {
    color: #009999;
}

.navbar h2 {
    margin-left: 24px;
}


.navbar .nav-tab .nav-link {
    color: var(--black-color);
    margin: 12px;
    margin-right: 24px 24px;
    justify-content: space-between;
    transition: all 0.5s;
}

.navbar .nav-tab .nav-link:hover {
    border-bottom: 3px solid var(--primary-color);
    color: #009999;
}

/* hero-section */
.background {
    width: 100%;
    min-height: 40vh;
    background-image: url("images/catalog01.jpg");
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

/* gallery */
.gallery-photo h2 {
    color: #0de5f0;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 34px;

}

.gallery-photo .card-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.gallery-photo .card-section .card {
    width: auto;
    height: auto;
    justify-content: flex-start;
    margin: 6px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.gallery-photo .card-section .card img {
    max-width: 100%;
}

.gallery-photo .card-section .card .card-body {
    display: flex;
    justify-content: space-between;
    color: var(--gray-color);
    font-size: 18px;
}

.btn {

    padding: 12px 32px;
    font-size: 15px;
    background-color: #038987da;
    color: var(--white-color);
    font-family: var(--primary-font);
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    align-items: start;
    transition: all 0.50s;

}

.btn1 {

    display: inline-block;
    padding: 12px 32px;
    font-size: 15px;
    background-color: #038987da;
    color: var(--white-color);
    font-family: var(--primary-font);
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    transition: all 0.50s;

}

.btn1:hover {
    background-color: #009999;
    border: 1px solid var(--secondary-color);
}

.defult-btn {
    margin: 0px 6px;
    box-sizing: border-box;
    background-color: var(--white-color);
    color: var(--gray-color);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
}


.defult-btn:hover {
    background-color: #038987da;
    color: #fff;
}

/* FOOTER */
.footer-content h2 {
    margin-top: 20px;
    color: #038080;
}

.footer-content p{
    width: 420px;
    color: rgba(83, 83, 83, 0.884);

}
.quick-links h2 {
    margin-top: 20px;
    color: #038080;
}  
.quick-links ul li {
    width: 30%;
    text-align: center;
       color: rgba(83, 83, 83, 0.884);
}
.quick-links ul li:hover{
    color: #038080;
}
.social-link img{
    margin-top: 20px;
    margin-bottom: 60px;
} 
.social-link img:hover{
    background-color: #038080;
}
.social-link p{
    color: rgba(83, 83, 83, 0.884);
}   
.social-link p:hover{
    color: #038080;
}
.copyright p{
    color: rgba(83, 83, 83, 0.884);
align-items: end;
text-align: center;
display: flex;
justify-content: space-between;
}

    



    